.content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    .form-wrapper{
        margin-top: 50px;
        background: white;
        filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.2));
        border-radius: 10px;
        width: 800px;
        h2{
            font-size: 25px;
            margin: 40px 0px;
            text-transform: uppercase;
            font-weight: 700;
        }
        .btn-wrapper{
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
        }
        .item{
            .ant-table-cell{
                text-align: center;
            }
        }
        .date-box{
            display: flex;
            justify-content: center;
            .ant-form-item{
                width: 500px;
                
            }
        }
        .btn-wrapper{
            display: flex;
            justify-content: flex-start;
            Button{
                margin-left: 20px;
                margin-top: 10px;
            }
        }
        .del-img{
            margin-left: 10px;
            Button{
                width: 100%;
            }
        }
        .detail{
            display: flex;
            justify-content: space-evenly;
            padding: 5px;
            .ant-form-item-label{
                width: 110px;
            }
            .btn-detail{
                margin-left: 15px;
            }
        }
        .proItem{
            .ant-table-cell{
                text-align: center;
            }
        }
    }
    .product-wrapper{
        margin-top: 50px;
        background: white;
        filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.2));
        border-radius: 10px;
        width: 1200px;
        h2{
            font-size: 30px;
            margin: 20px 0px;
            text-transform: uppercase;
            font-weight: 700;
            text-align: center;
            margin-top: 30px;
        }
        .btn-wrapper{
            text-align: center;
            margin-top: 10px;
        }
        .proItem{
            .ant-table-cell{
                text-align: center;
            }
        }
        .View-layout{
            //margin: 30px 0px;
            padding: 20px 30px;
            display: flex;
            justify-content: space-between;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            .View-layout-left{
                display: flex;
                justify-content: center;
                align-items: center;
                .btn-wrapper{
                    margin-left: 20px;
                    margin-bottom: 10px;
                }
            }
            span{
                font-weight: 600;

            }
            .search-box{
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #ccc;
                border-radius: 15px;
                box-shadow: 1px 2px 3px #888;
                width: 400px;
                height: 70px;
                span{
                    margin-right: 10px;
                }
                input{
                    background: rgb(212, 212, 212);
                    border: none;
                    outline: none;
                    height: 30px;
                    border-radius: 5px;
                }
            }
            
        }
    }
}
.btn-box{
    display: flex;
    justify-content: center;
}
.detail-btn {
    border: none;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
    outline: none;
    background-color: gold;
    color: black;
    &:hover {
        background-color: gold;
        color: black;
        opacity: 0.7;
    }
}
.fix{
    button{
     width: 55px;
     border: none;
     filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
     outline: none;
     cursor: pointer;
     background-color: gold;
     color: black;
     display: flex;
    justify-content: center;
     &:hover{
        color: black;
         opacity: 0.7;
         background-color: gold;
     }
    }
}
 .delete, .lock{
    button{
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
    }
 }